body {
    margin: 4px;
    padding: 8px;
    box-sizing: border-box;
    
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 12px 24px;    
}
.main {
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    
}
input, select {
    height: 36px;
    margin-left: 160px;
    margin-bottom: 8px;
    border: 2px solid grey;    
    border-radius: 4px;
}
.countries-box {
    display: flex;
    justify-content: center;
    align-items: center;    
    flex-wrap: wrap;
    margin: 12px 0;
}
img {
    width: 220px;
    height: 120px;
    margin-bottom: 12px;
    object-fit: cover;
}
h3 {
    margin-top: 4px;
}
ul {
    list-style-type: none;
    text-align: justify;
    margin-top: 0;
}
.country-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 8px 6px;
    
}
.country-item h3 {
    text-align: center;
}

.country-item ul li {
    text-align: center;
    
    padding: 8px 0;    
}